html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-image: url('images/bg-pattern.png');
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-height: 800px;
}

.photo__item {
  list-style: none;
  width: 360px;
  margin: 10px;
}


.photo__item img {
  display: block;
  max-width: 360px;
  height: 220px;
  object-fit: cover;
}

.stats {
  display: flex;
  justify-content: space-between;
  max-width: 360px;
  height: 100%;
  font-size: 10px;
}

